.feedback {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    margin: 0.5rem 0;

    & button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        background: none;
        border: none;
        cursor: pointer;
    }
}


// DARK MODE

[data-theme="dark"] {

    .feedback button img {
        filter: invert(1);
    }
}